@import '../constants/colors';
.Dashboard-content{
  margin-top: 1vw;
  .page-title{
    background-color: $lightGray;
    span{
      font-size: 5vw;
    }
    .chocolate{
      color: $chocolate;
      margin-left: 10vw;
    }
   .goldenrod{
      color: $goldenrod;
   }
  }
}