@import '../../constants/colors';

.Product {
  width: 20vw;
  height: 32vh;
  background-color: $honeyDew;
  margin-top: 1vw;
  margin-right: 1vw;
  float: left;
  list-style: outside none none;

  .item-image {
    img {
      max-width: 15vw;
      max-height: 15vh;
      display: block;
      margin: auto;
    }
  }

  .item-details {
    max-height: 5vh;
    margin-top: 2vh;

    .name {
      text-overflow: ellipsis;
    }

    .price {
    }
  }

  .cart {
    i {
      font-size: 4vh;
    }

    .add-cart {
      text-align: center;
      width: 20vw;
      background-color: #D2691E;
    }
  }

}