@import "../../constants/colors";
.Cart-content{
  background-color: $Gainsboro;
  margin-top: 3vh;
  border-radius: 10px;
  .header{
    p {
      margin-top: 3vh;
    }
  }
  .items{

  }

  .no-items {
    p {
      margin-bottom: 3vh;
    }
  }

  .total-amount {
    margin-top: 2vh;
  }

  .discounted-amount {
    margin-top: 2vh;
  }

  .tax-amount {
    margin-top: 2vh;
  }

  .final-amount {
    margin-top: 2vh;
    margin-bottom: 4vh;
  }
}