@import "../../constants/colors";
.Cart-content{
  background-color: $lightGray;
  margin-top: 3vh;
  .header{

  }
  .items{

  }

  .total-amount {
    margin-top: 2vh;
  }

  .discounted-amount {
    margin-top: 2vh;
  }

  .tax-amount {
    margin-top: 2vh;
  }

  .final-amount {
    margin-top: 2vh;
  }
}