@import '../../constants/colors';

.ProductDetailsContent {
  margin-left: 3vw;
  margin-bottom: 2vh;

  .back {
    i {
      font-size: 4vw;
      margin-left: 3vw;
      margin-top: 2vh;
    }
  }

  .image {
    img {
      width: 20vw;
      height: 20vw;
      display: block;
      margin: auto;
    }
  }

  .details {
    background-color: $AntiqueWhite;
    margin-top: 3vh;
  }

  .cart {

  }
}